.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
            "title title title title"
            "power power power info"
            "power power power info"
            "power power power trans"
            "power power power trans";
    width: 100vw;
    height: 100vh;
}

.masthead{
    grid-area: title;
    background: rgb(192, 250, 192);
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}

.view1{
    grid-area: power;
    /* background: royalblue; */
}