/* Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
            "title title title title "
            "power power power table "
            "power power power table "
            "power power power table  "
            "power power power table ";
    width: 100vw;
    height: 100vh;
}

.masthead{
    grid-area: title;
    background: rgb(192, 250, 192);
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}

.view1{
    grid-area: power;
    /* background: royalblue; */
}


/* Nodes and links classing */
.nodes{
    stroke-width: 1px;
    stroke:black;
}

.node:hover{
    stroke-width: 3px;
    filter: saturate(1);
}
.links{
    stroke: black;
    stroke-width: 2px;
}
.link:hover{
    stroke: rgb(251, 255, 14);
    stroke-width: 4px;
}
.labels{
    font-size: 10px;
    font-weight: bolder;
}

/*tooltip */

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 2px;
    pointer-events: none;
    font-family: "Avenir Next";
}

.tooltip h3{
    margin: auto;
    font-size: 24px;
    font-weight:bolder;
    color: #484b5a;
}

.tooltip p{
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
    color: #81849a;
}