/* Site Layout CSS */
.wrapper{
    font-family: "Avenir Next";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas: 
            "title title title title "
            "power power power table "
            "power power power table "
            "power power power table  "
            "power power power table ";
    width: 100vw;
    height: 100vh;
}

.masthead{
    grid-area: title;
    background: rgb(192, 250, 192);
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}

.view1{
    grid-area: power;
    /* background: royalblue; */
}


/* Nodes and links classing */
.nodes{
    stroke-width: 1px;
    stroke:black;
}
.station_node{
    stroke: black;
    stroke-width: 1px;
}
.station_node:hover{
    stroke-width: 4px;
    filter: saturate(300%);
}
.node:hover{
    stroke-width: 3px;
    filter: saturate(300%);
}
.links{
    stroke: rgb(90, 90, 90);
    stroke-width: 2px;
}
.linkT{
    stroke:rgb(90, 90, 90);
    stroke-width: 2px;
}
.link:hover{
    stroke: rgb(251, 255, 14);
    stroke-width: 4px;
}
.labels{
    font-size: 15px;
    font-weight: lighter;
}
.labelsT{
    font-size: 19px;
    font-weight: lighter;
}

.CHSP{
    stroke-width: 3px;
    /* filter: saturate(1); */
}
.charge{
    /* fill: rgb(0, 153, 255) */
}
.norm{
    fill: rgb(230, 255, 206)
}
.transNode{
    /* fill: rgb(0, 153, 255) */
}


/*tooltip */

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    background: rgba(255, 255, 255, 0.8);
    stroke: gray;
    border-radius: 2px;
    pointer-events: none;
    font-family: "Avenir Next";
}

.tooltip h3{
    margin: auto;
    font-size: 24px;
    font-weight:bolder;
    color: #484b5a;
}

.tooltip p{
    margin: auto;
    font-size: 15px;
    font-weight: bolder;
    color: #81849a;
}